<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script>
        Auth = Auth || {};
        Auth.loggedInUser = @Html.Raw(Json.Encode(User.Identity.IsAuthenticated ? User.Identity.Name : null));
        Auth.error = function (err, action) {
            alert(action + ': ' + err);
        }
    </script>
</head>
<body>
    @Html.AntiForgeryToken()
    <div>
        @RenderBody()
    </div>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/scripts/jquery-2.1.0.min.js"></script>
    <script src="/scripts/persona.js"></script>
</body>
</html>
