@{
    ViewBag.Title = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    @: Logged in as @User.Identity.Name
    <button class="logout" type="button">
        Log Out
    </button>
}
else
{
    @: Unauthenticated
    <button class="login" type="button">
        Log In
    </button>
}
